.container {
  justify-content: center;
  background: #f3f7fa;
  height: 200vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  .content {
    margin-left: 103px;
    margin-right: 103px;
    display: flex;
  }

  .navigation__container {
    display: flex;
    flex-direction: column;
  }
}

.spinner {
  margin-top: 10px;
  margin-bottom: 10px;
}
