.container {
  .content {
    margin-left: 103px;
    margin-right: 103px;
    display: flex;

    &__navigation {
      margin-left: 20px;
      width: 502px;
      display: flex;
      height: 50px;
      margin-bottom: 10px;

      &__radio {
        appearance: none;
      }

      .one {
        border-top-left-radius: 0.5em;
        border-bottom-left-radius: 0.5em;
      }

      .two {
        border-right: none;
        border-left: none;
      }

      .three {
        border-top-right-radius: 0.5em;
        border-bottom-right-radius: 0.5em;
      }

      .checked {
        background-color: #2196f3;
        color: white;
      }

      &__label {
        width: 168px;
        height: 50px;
        border: 1px solid #dfe5ec;
        background: #fff;
        margin: 0;
        border-radius: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        text-transform: uppercase;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: #2196f3;
          color: white;
        }
        &:focus-within {
          background-color: #2196f3;
          color: white;
        }
      }
    }
  }
}
