.container {
    .content {
        margin-left: 103px;
        margin-right: 103px;
        display: flex;

        &__navigation {
            margin-left: 20px;
            width: 502px;
            display: flex;
            height: 50px;
            margin-bottom: 10px;

            &__radio {
                appearance: none;
            }

            .one{
                border-top-left-radius: 0.5em;
                border-bottom-left-radius: 0.5em;
            }

            .two{
                border-right: none; 
                border-left: none;
            }

            .three{
                border-top-right-radius: 0.5em;
                border-bottom-right-radius: 0.5em;
            }

            &__label {
                width: 168px;
                height: 50px;
                border: 1px solid #DFE5EC;
                background: #FFF;
                margin: 0;
                border-radius: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                text-transform: uppercase;
                transition: background-color 0.3s ease; // Анимация изменения цвета

                &:hover {
                  background-color: #2196F3; // Цвет при наведении
                  color: white;
                }

                &:focus-within {
                    background-color: #2196F3; // Дополнительный стиль для фокуса и выбранной кнопки
                    color: white;
                }
            }
        }
    }
}
