@import url('./style/fonts.css');

.container {
  justify-content: center;
  background: #f3f7fa;
  height: 200vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .navigation__container {
    display: flex;
    flex-direction: column;
  }
}

.card_btn {
  width: 502px;
  height: 50px;
  flex-shrink: 0;
  background: #2196f3;
  color: var(--primary-colors-white, #fff);
  text-align: center;
  font-family: Open Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 166.667% */
  letter-spacing: 0.5px;
  text-transform: uppercase;
  border-radius: 5px;
  border: none;
  margin: 0 auto;
}
