@import url("./style/fonts.css");


.container {
    justify-content: center;
    background: #F3F7FA;
    height: 200vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    

.navigation__container{
    display: flex;
    flex-direction: column;
    }
}



  
